<h1>Register</h1>

<form action="/register" method="post">

  <!-- Label and input for the username field -->
  <label>
    Username
    <input type="text" name="username" />
  </label>

  <!-- Label and input for the password field -->
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <!-- Button to submit the registration form -->
  <button type="submit">register</button>
</form>